<body class="g-sidenav-show bg-gray-200">
  <app-sidenav
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
    id="sidenav-main"></app-sidenav>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <app-navbar></app-navbar>
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Users table</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha registro
                        </th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usuario of usuarios">
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="{{usuario.avatar | imagen}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{usuario.fullName}}</h6>
                              <p class="text-xs text-secondary mb-0">{{usuario.email}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{usuario.role | titlecase}}</p>
                          <p class="text-xs text-secondary mb-0" *ngIf="usuario.role === 'PROPIETARIO'">Usuario premium</p>
                          <p class="text-xs text-secondary mb-0" *ngIf="usuario.role === 'INQUILINO'">Usuario normal</p>
                          <p class="text-xs text-secondary mb-0" *ngIf="usuario.role === 'ADMIN'">Administrador de la aplicación</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-success">{{usuario.phoneNumber}}</span>
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{usuario.createdAt | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td class="align-middle">
                          <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                            data-original-title="Edit user">
                            Edit
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button class="page-link" (click)="pageBefore()" [disabled]="page===0">Before</button></li>
                      <li class="page-item"><button class="page-link" (click)="pageNext()" [disabled]="page===totalPages">Next</button></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>>
        <app-footer></app-footer>
      </div>
    </main>
    <app-account-settings></app-account-settings>
</body>
