<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">weekend</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Dinero hoy en día</p>
            <h4 class="mb-0">{{totalSales | currency:'EUR':'symbol-narrow':'1.2-2'}}</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>que la semana pasada</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">person</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Usuarios hoy en día</p>
            <h4 class="mb-0">{{numberOfUsers}}</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>que el mes pasado</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">person</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Nuevos Clientes</p>
            <h4 class="mb-0">4</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> que ayer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="alert alert-secondary text-center text-white buscador mt-4" role="alert">
        <h4 class="alert-heading"></h4>
        <i class="fa fa-spin fa-refresh text-2xl"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4" *ngIf="cargando">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Ranking de usuarios que más alquilan</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Top</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                      Usuario</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                      Número de alquileres realizados</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dinero total gastado
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usersWithMostRentals">
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-center">{{usuario.position}}</p>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{usuario.avatar | avatar}}" class="avatar avatar-sm me-3 border-radius-lg"
                            alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{usuario.username}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-center">{{usuario.rentalNumbers}}
                      </p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-center">{{usuario.spentMoney | currency:'EUR':'symbol-narrow':'1.2-2' }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4" *ngIf="cargando">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Ranking de viviendas más alquiladas</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Top</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                      Vivienda</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                      Precio</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Puntuación media
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dwelling of dwellingsMostRented">
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-center">{{dwelling.position}}</p>
                    </td>
                    <td>
                      <a [routerLink]="['/dashboard/dwellings', dwelling.id]">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <div>
                            <img src="{{dwelling.image | imagen}}" class="avatar avatar-sm me-3 border-radius-lg"
                              alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{dwelling.name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{dwelling.province}}</p>
                          </div>
                        </div>
                      </a>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-center">{{dwelling.price | currency:'EUR':'symbol-narrow':'1.2-2'}}
                      </p>
                    </td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center">
                        <p class="text-xs font-weight-bold mb-0 text-center">
                          <span class="align-middle" style="margin-right: 5px;">{{dwelling.averageScore}}</span>
                          <i class="material-icons text-2xl align-middle">star</i>
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
