<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card-header p-0 position-relative mt-n4 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">{{userToEdit.id ? 'Editar Usuario' : 'Añadir Usuario'}}</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2 text-white">
        <form [formGroup]="myForm">
          <div class="row my-2" *ngIf="!userToEdit.id">
            <div class="col-md-6">
              <div class="input-group input-group-outline my-3">
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-outline my-3">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-outline my-3">
                <input type="text" class="form-control" placeholder="Full Name" formControlName="fullName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-outline my-3">
                <input type="tel" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group-outline my-3">
                <input type="text" class="form-control" placeholder="Address" formControlName="address">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!userToEdit.id">
            <div class="col-md-12">
              <div class="contenedor input-group input-group-outline my-3">
                <input [type]="visibilityPassword ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password">
                <div class="icono">
                  <i class="material-icons cursor-pointer text-2xl text-secondary margin-left"
                    (click)="changePasswordVisibility()">{{visibilityPassword ? 'visibility' : 'visibility_off'}}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!userToEdit.id">
            <div class="col-md-12">
              <div class="contenedor input-group input-group-outline my-3">
                <input [type]="visibilityVerifyPassword ? 'password' : 'text'" class="form-control"
                  placeholder="Verify Password" formControlName="verifyPassword">
                <div class="icono">
                  <i class="material-icons cursor-pointer text-2xl text-secondary margin-left"
                    (click)="changePasswordVisibility()">{{visibilityVerifyPassword ? 'visibility' :
                    'visibility_off'}}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3" *ngIf="!userToEdit.id">
            <div class="col-md-4">
              <button type="submit" class="btn bg-gradient-primary" (click)="submitInquilino()">Crear Usuario Inquilino</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn bg-gradient-primary" (click)="submitPropietario()">Crear Usuario Propietario</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn bg-gradient-primary" (click)="submitAdmin()">Crear Usuario Administrador</button>
            </div>
          </div>
          <div class="row" *ngIf="userToEdit.id">
            <div class="col-12">
              <button type="submit" class="btn bg-gradient-primary" (click)="editUser()">Editar Usuario</button>
            </div>
          </div>
        </form>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar avatar de {{userToEdit.username}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5 *ngIf="!imgTemp">Imagen de {{userToEdit.fullName}}</h5>
                <h5 *ngIf="imgTemp">Nueva imagen para {{userToEdit.fullName}}</h5>
                <br>
                <div class="img-container text-center">
                  <img *ngIf="!imgTemp" src="{{userToEdit.avatar! | avatar}}" alt="img-avatar" width="30%">
                  <img *ngIf="imgTemp" [src]="imgTemp" alt="img-avatar" width="30%">
                </div>
                <br>
                <input type="file" accept="image/*" (change)="changeImage($any($event.target).files[0])">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" (click)="editAvatar()">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <p class="color-black" *ngIf="userToEdit.id">¿Quieres aparte editarle el avatar?
          <a class="cursor-pointer color-blue" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Haz clic aquí para ello
          </a>
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
